#about-us {
    margin-top: 80px;
}

#about-us h2 {
    margin-top: 40px;
}

#about-us .text {
    width: 60%;
    margin-bottom: 46px;
}

#about-us .buttons {
    width: 82%;
}

#about-us .pattern {
    right: 45px;
    top: -30px;
}