#cyber-security {
    margin-top: 40px;
}

#cyber-security .main-image-container img {
    position:relative;
    left: -210px;
}

#cyber-security .text-icon,
#cyber-security .text-container {
    height: 500px;
}

#cyber-security .text-icon img {
    width:90%;
}

#cyber-security .bg-icon {
    background-image: url("../img/Cyber_x5F_Security_Icone Fundo.svg");
}