#cyber-security {
    margin-top: 40px;
}

#cyber-security .main-image-container img {
    position: relative;
    left: -238px;
}

#cyber-security .text-icon,
#cyber-security .text-container {
    height: 900px;
}

#cyber-security .text-container .text {
    width: 80%;
}

#cyber-security .text-container h2 {
    margin-top: 40px;
}

#cyber-security .text-icon img {
    width: 90%;
}

#cyber-security .bg-icon {
    position: absolute;
    top: 80px;
    right: -100px;
    background-image: url("../img/Cyber_x5F_Security_Icone Fundo.svg");
    width: 183px;
    height: 208px;
}

/* Security Integration */

#security-integration {
    min-height: 454px;
    padding-top: 110px;
    background-image: url("../img/SecurityIntegration_Isometric.png");
    background-size: 443px 454px;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

#security-integration .pattern {
    left: -190px;
    top: -70px;
}

#security-integration img {
    position: relative;
    left: -50%;
}

#security-integration .text-container {
    padding-top: 40px;
}

#security-integration .text {
    width: 92%;
}