#headline h2 {
    font-size : 60px;
    margin-top: 130px;
}

#headline .main-image {
    position: relative;
    top     : -64px;
    left    : -30px;
    z-index: 0;
}

#headline p {
    font-size : 28px;
    margin-top: 30px;
    width     : 75%;
}