#managed-security {
    margin-top: 80px;
}

#managed-security .pattern {
    right: 50px;
    top  : 60px;
}

#managed-security .section-icon-container {
    vertical-align: top;
}

#managed-security .section-icon-container img {
    position: relative;
    left    : -50%;
}

#managed-security-main .image-container,
#managed-security-main .section-icon-container,
#managed-security-main .main-content {
    margin-top: 80px;
}

#security-monitoring {
    margin-top: 80px;
}

#security-monitoring .bg-image {
    background: url("../img/SecurityMonitoring_Icone Fundo.svg") 0 0 no-repeat;
    width     : 377px;
    height    : 517px;
    position  : absolute;
    right     : 80px;
    top       : 50px;
}

#device-management {
    margin-top: 120px;
}