/* until sm */
@media (max-width: 575px) {}

/* until md */
@media (max-width: 767px) {}

/* LG IS THE RESPONSIVE BREAKPOINT */
/* until lg */
@media (max-width: 991px) {
    // .container{
    //     width: 90%;
    // }

    /* Header */
    header {
        position      : fixed;
        width         : 100%;
        background    : url("../img/Base-topo.svg") 0 0 no-repeat;
        padding-bottom: 20px;
        box-shadow    : 0 0 10px rgba(0, 0, 0, 0.5);
        z-index       : 10;
    }

    header h1 {
        width  : 270px;
        height : 74px;
        display: inline-block;
    }

    header .container {
        width: 100%;
    }

    header .title-wrapper {
        width     : auto;
        padding   : 0 10%;
        margin    : 0 auto;
        text-align: center;
    }

    header nav {
        padding-left: 50px;
    }

    header nav .col {
        width: 100%
    }

    header nav a {
        display   : block;
        text-align: center;
        padding   : 20px 0;
        font-size : 1.2em;
    }

    header nav .row div:first-of-type a {
        margin-left: 0;
        margin-top : 80px;
    }

    header nav.visible {
        display   : flex !important;
        position  : fixed;
        top       : 0;
        left      : 0;
        width     : 100%;
        height    : 100%;
        background: @gradientBlue;
        z-index   : 99;
        padding   : 10% 0 0;
    }

    header nav .row {
        display       : flex;
        width         : 100%;
        padding-bottom: 15%;
        margin: 0;
    }

    header nav .nav-link-wrapper,
    header nav a {
        display: block;
        width  : 100%;
        padding: 0;
    }

    header nav .close {
        display   : flex;
        position  : absolute;
        bottom    : 40px;
        width     : 100%;
        text-align: center;
    }

    header nav .close span {
        padding: 16px;
        display: inline-block;
        width  : 100%;
    }

    header nav .close:hover {
        color: inherit
    }

    header .hamburger {
        margin-left   : 40px;
        vertical-align: top;
        margin-top    : 6px;
    }


    /* Headline */
    #headline h2 {
        padding-top: 20px;
    }

    #headline .main-image {
        width: 400px !important;
    }

    /* About Us */

    #about-us .partners-container .palo-alto img {
        position: relative;
        left    : 22px;
    }
}

/* lg start */
@media (min-width: 992px) {}

/* xl start */
@media (min-width: 1200px) {}