#video-security-main {
    margin-top: 80px;
    min-height: 664px;
}

#video-security-main .main-image{
    background: url("../img/VideoSecurity.png") 0 0 no-repeat;
    width: 500px;
    height: 664px;
    background-size: 500px 664px;
    position: absolute;
    right: 0;
}

#video-security-main .section-icon-container,
#video-security-main .main-content {
    padding-top: 240px;
}

#video-security-main h2 {
    padding-top: 70px;
}

#video-security-main .text {
    display: none;
}

#video-monitoring-services {
    margin: 100px auto 80px;
}

#video-monitoring-services .pattern-2 {
    position: absolute;
    top: -70px;
}

#video-monitoring-services p {
    padding: 0 40px;
    margin-bottom: 40px;
}

#video-monitoring-services ul.first-list {
    margin-left: 60px;
}

#video-monitoring-services li {
    font-family  : @fontOxaniumBold;
    color: @colorTitleOnWhite3;
    font-size: 15px;
    list-style-type: square;
}

#surveillance-solution-main {
    margin-top: 80px;
}

#surveillance-solution-main .pattern-2 {
    top: 280px;
    left: -200px;
}

#surveillance-solution-main h4 {
    color: @colorTitleOnWhite !important;
}

#surveillance-solution-main .section-icon-container img {
    position: relative;
    left    : -50%;
}

#surveillance-solution-main .main-image {
    position: absolute;
    top: 0;
    left: 115px;
    z-index:1;
    background: url("../img/VideoSurveillance_Isometric1.png") 0 0 no-repeat;
    width: 423px;
    height: 424px;
}

#surveillance-solution-main .bg-icon {
    position: absolute;
    top: -160px;
    left: 40px;
    z-index: 0;
    background: url("../img/VideoSurveillance_Icone Fundo.svg") 0 0 no-repeat;
    width: 547px;
    height: 751px;
}

#surveillance-solution-boxes {
    margin-top: 200px;
}

#surveillance-solution-boxes .box {
    border: 1px solid #FFF;
    border-radius: 20px;
    padding: 20px;
    min-height: 360px;
}

#surveillance-solution-boxes .blue-box {
    background: @gradientBlueBox;
}

#surveillance-solution-boxes .green-box {
    background: @gradientGreenBox;
}

#surveillance-solution-boxes .box hr {
    background-color: white;
    height: 2px;
    width: 37px;
    margin-left: 0;
}

#surveillance-solution-boxes .box .text {
    font-size: 16px;
    line-height: 1.3em;
}