body {
    padding-bottom: 0
}

.contacts-list {
    margin-top: 32px;
}

footer {
    margin-top: 5rem;
    padding: 2.5rem 0;
    color: #999;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
